img {
border-radius: 10%;
max-width: 98%;
height: auto;
margin: auto;
}

body {
  text-align: center;
  margin: 5px;
}

h1 {
  font-size: 100px;
  font-family: "Times new roman", serif;
  background-color: wheat;
}

p {
font-size: 30px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Serif";
padding: 2px, 3px;
}
#firstparagraph {
  background-color: lightgreen;
  color: navy;
}

#secondparagraph {
  background-color: mintcream;
  color: green;
}
