p {
  color:teal;
}
h1{
  color:blue;
}
#id1{
  color:aqua;
  font-family:verdana;
}
#id2{
  color:green;
}
.maroon{
  color:maroon;
}
.center{
  text-align:center;
  color:navy;
}
.yellow p {
  color:yellow;
}
