body {
  background-color: pink;
}

table tr td {
  padding: 5px;
  border: 2px solid purple;
  border-collapse: collapse;
  background:Violet;
}

li {
  list-style-type: square;
  background: mistyrose;
}

.content {
  background-color:#f7e6ff;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

img {
  width:100%;
}

.footer a {
  font-size: 110%;
  text-decoration: none;
  color: snow;
  background-color: saddlebrown;
}
.topnav {
  font-family: "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

.footer a:hoover {
  border-style: 2px sienna;
}

.header {
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, "sans-serif";
}

#peonyh {
  background-image: url("https://static.pexels.com/photos/432368/pexels-photo-432368.jpeg");
}

#cherryblossomh {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/16/13/42/cherry-blossom-1260646_960_720.jpg");
}

#bleedinghearth {
  background-image: url("https://static.pexels.com/photos/414362/pexels-photo-414362.jpeg");
}

#dandelionh {
  background-image: url("https://static.pexels.com/photos/159056/dandelion-seeds-number-of-lion-screen-pilot-159056.jpeg");
}
.mainpic {
  text-align: center;
}
